body {
    width: 300px;
    text-align: center;
}

.container {
    padding: 0 1rem 1rem 1rem;
}

hgroup {
    margin-bottom: 1rem;
}

button {
    width: 100%;
}

.error {
    color: var(--pico-color-red-500);
    font-size: 0.9em;
    margin-top: 1rem;
    word-wrap: break-word;
}

footer {
    margin-top: 1.5rem;
    font-size: 0.8em;
}

footer a {
    color: var(--pico-muted-foreground);
}